{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body>
	{% block content %}
	{% endblock %}

	{% block footer %}
		{% include 'footer.twig' %}
		{{ function('wp_footer') }}
	{% endblock %}
</body>
</html>
