{# ======================= COLLECT DATA ======================= #}
{% set gallery_data = post.get_field( 'rhc_gallery' ) %}

{# ========================== OUTPUT ========================== #}
{% extends 'base.twig' %}

{% block content %}
  <div class="gallery">
    <div class="closeButton">
        <a href="{{ site.url }}">
          <i class="fa fa-chevron-left"></i> back
        </a>
    </div>
    <div class="gallery-cell title-container">
      <div class="title">
        <h1>{{ post.post_title }}</h1>
        {{ gallery_data.intro_text | wpautop }}
      </div>
    </div>
    {% for image in gallery_data.images %}
        <div class="gallery-cell">
          <img src="{{ image.url }}" alt="">
        </div>
    {% endfor %}
  </div>

{% endblock content %}
